// VARS


// font-weight

$weight-light: 300;
$weight-norm: 400;
$weight-mid: 600;
$weight-bold: 700;
$weight-black: 900;


$main_color_first_section: #74c7d5;
$main_color_second_section: #f3535c;
$white: #fff;


